
/* SELECTORES GLOBALES */
*{
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
}

body{
    color: #fff;
    font-size: 13px;
    font-family: arial;
    width: 960px;
    margin: auto;
}
h1{
    font-size: 64px;
    color: #fff;
    text-align: center;
    padding-top: 45px;
}
h2{
    font-size: 36px;
    color: #fff;
    padding-top: 27px;

}


.hola {
    width: 327px;
    height: 84px;
    padding: 16px 22px 17px 16px;
    background-color: #7299FE;
    backface-visibility: hidden;
    opacity: 0.5;
    margin: 169px 545px 192px 50px;
}
/* HEADER */
header{
    background: #00AAB5;
    text-align: center;
    padding: 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
header a{
    color: white;
    font-size: 14px;
    text-decoration:wavy;
    padding: 10px;
}

header p {
  color: white;
  font-size: 21px;
  align-self: center;

}
 header ul {
  display: flex ;
  justify-content: space-between;
 }

 header div {
  display: flex ;
  align-items: center;

 }

header .header-logo{
    font-size: 64px;
    text-decoration: none;

    display: block;
}
/* FONDO */
.fondo {
  background-image: url("../images/portafolio.png");
  width: 960px;
  height: 525px;
}



/* MY SKILLS */
.my-skills {
    background: #7299FE;
    width: 960px;
    height: 424px;
  }
.my-skills h2{
    color: #B508A3;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
 }

.my-skills h3 {
  color: white;
  padding: 23px 0px 5px 0px;
  font-size: 18px;
}

.skills {
  text-align: right;
  color: white;
  height: 17px;
  border-radius: 5px;


}
.contains {
  width: 364px;
  height: 17px;
  background-color: #ddd;
  border-radius: 5px;

}

.html {width: 90%; background-color: #000000;}
.css {width: 80%; background-color: #000000;}
.angular {width: 65%; background-color: #000000;}
.figma {width: 60%; background-color: #000000;}
.javascript {width: 85%; background-color: #000000;}
.react {width: 58%; background-color: #000000;}
.python {width: 95%; background-color: #000000;}
.node-js {width: 50%; background-color: #000000;}


.parte2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 104px 86px 104px;
}

/* SERVICES */
.services{
  background: #FB7171;
  width: 960px;
  height: 424px;
}

.services-3 {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 250px;
  margin: 35px 105px 76px 105px;
}



.parte3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;

}

.parte3 div {
  text-align: center;
  padding: 15px 0px 20px 0px;
}

.parte3 p {
  font-size: 24px;
  padding-top: 15px;
}
.services h2{
  color: #00CC9B;
  text-align: center;
  font-weight: bold;
}

/* BRIEFCASE */

.briefcase{
  background: #FFD233;
  width: 960px;
  height: 424px;
}

.briefcase h2{
  color: #8402A5;
  text-align: center;
  font-weight: bold;
}

.parte4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 14px;
  margin: 46px 179px 97px 183px;
}

.parte4 img {
  width: 140px;
  height: 92px;
}


/* CUSTOMER */

.customer{
  background: #3F4E62;
  width: 960px;
  height: 258px;
}

.customer h2{
  color: #FF00C7;
  text-align: center;
  font-weight: bold;
}

.parte5 {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* CONTACT */

.contact{
  background: #16A085;
  width: 960px;
  height: 578px;
}

.contact h2{
  color: #CEE000;
  text-align: center;
  font-weight: bold;
}

.contact input {
  width: 363px;
  height: 59px;
}
.contact textarea {
  width: 759px;
  height: 112px;
  padding: 20px 0px 0px 0px;
  background-color: white;
  font-family: arial;
}
.contact button {
  width: 167px;
  height: 56px;
  margin-top: 33px;
  background-color: #233451;
  color: white;
}

.parte6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 26px 94px 76px 100px;
  align-items: center;


}

.label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 33px;
  box-sizing: border-box;
}

.label input {
  background-color: white;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  height: 117px;
  background-color: #00AAB5;
}

footer p {
margin: 15px;
font-size: 16px;
}
