body{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: #2400ff;
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding: 10px;
}
li{
  list-style: none;
  line-height: 30px;
}

.contenedor{
  padding: 15px;
  width: 70%;
}

.contenedor-galeria{
  display: flex;
  justify-content: space-between;
}

footer{
  display: flex;
  justify-content: space-between;
}
footer p{
  color: #2400ff;
}